@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #28323f;
    background-image: url('../../assets/svg/home_background.svg');
    scroll-behavior: smooth;
}

.Home {
    * {
        border: none;
    }

    .caps {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: 'Roboto', sans-serif;
    }
}
