.Tracks {
    margin-top: 10vh;
    color: #ffff;

    &__card {
        background-color: rgba(60, 116, 113, 0.2);
        font-size: 18px;
        font-family: "Roboto Slab", serif;
        padding: 5px;
    }

    &__header {
        color: white;
        text-align: center;
    }

    margin: 80px auto;
}
