@import '../../../styles/constants';

.FAQ {
    
    padding-top: 10vh;
    padding-bottom: 10vh;

    .caps {
        margin: 25px;
        font-size: 1.5em;
    }

    #header {
        max-width: 50%;
        margin-top: 20vh;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 1em;
        font-weight: bold;
        display: block;
        margin: auto;
    }
    #header h1 {
        font-size: 4em;
        text-align: center;
        padding: 5vh 5vw;
        color: $primary;
    }
    
    #QuestionListContainer {
        margin:auto;
        padding: 8vh 4vw;
        padding-top: 4vh;
        width: 90vw;
        background-color: $cardBackground;
        color: $secondary;
        display: block;
    }

    .faq-heading {
        text-align: left;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 800;
        font-size: 3em;
    }

    a {
        color: $linkForeground;
        padding: 0;
        margin: 0;
    }

    section.faq-columns {
        display: flex;
        padding: 0;
        flex-direction: column;
    }

    .column {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media (max-width: 1024px) {
        padding-top: 6vh;
        padding-bottom: 6vh;

        .faq-columns {
            flex-direction: column;
        }
        .column {
            margin: 0;
            flex-direction: column;
        }
        .faq-heading {
            margin-top: 3vh;
            font-size: 2.2em;
        }
        .column:first-child .faq-heading {
            margin-top: 0;
        }
        .header {
            max-width: 85%;
            margin: 0;
        } 
    }

    @media (max-width: 420px) {
        .header {
            max-width: 90%;
        } 
    }

    @media (max-width: 320px) {
        .header {
            max-width: 90%;
        } 
    }
}