.Speakers {
    padding: 5vh 5vw 10vh 5vw;
    &__card {
        position: relative;
        background-color: rgba(256, 256, 256, 0);
        margin: 0.5em;
        border: none;
        height: 440px;
        img {
            margin-top: 15px;
            max-width: 100%;
            width: auto;
            max-height: 300px;
        }
    }
    &__back {
        width: 200%;
        //box-shadow: 0px 0px 5px black;
        background-color: rgba(60, 116, 113, 0.5);
    }
    &__header {
        text-align: center;
        color: #ffff;
        margin-bottom: 1em;
    }
    h3 {
        text-align: center;
        font-size: 22px;
        font-weight: light;
        font-family: "Roboto Slab", serif;
        padding: 0.2em;
        color: #ffff;
    }
    h4 {
        text-align: center;
        font-size: 15px;
        font-weight: light;
        font-family: "Roboto Slab", serif;
        padding: 0.4em;
        color: #ffff;
    }
    .thumbnail {
        padding: 5px;
    }
    .thumbnail img {
        width: 30vh;
        height: 30vh;
        box-shadow: 0px 0px 10px black;
        border-radius: 50%;
    }
}

#speaker_content {
    width: 100%;
}

#youtube-icon {
    font-size: 30px;
    float: left;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

#wiki-icon {
    font-size: 30px;
    float: right;
}

.coming__soon {
    font-style: italic;
    margin-top: 0.5em;
}

.icon-group {
    padding-top: 5px;
}

@media (max-width: 1026px) {
    .Speakers__back {
      background-color: rgba(256, 256, 256, 0);
    }
    .Speakers .thumbnail img {
        margin-top: 32px;
    }
}

@media (max-width: 780px) {
    .Speakers__back {
      background-color: rgba(256, 256, 256, 0);
    }
    .Speakers .thumbnail img {
        width: 30vh;
        height: 30vh;
        margin-top: 0px;
    }
}

@media (max-width: 400px) and (min-height: 400px) {
    .Speakers__back {
      background-color: rgba(256, 256, 256, 0);
    }
    .Speakers .thumbnail img {
        width: 25vh;
        height: 25vh;
        margin-top: 0px;
    }
}
