.Speakers {
    padding: 5vh 5vw 10vh 5vw;
    &__card {
        position: relative;
        background-color: rgba(60, 116, 113, 0.5);
        margin: 0.5em;
        border: none;
        img {
            max-width: 100%;
            width: auto;
            max-height: 300px;
        }
    }
    &__header {
        text-align: center;
        color: #ffff;
        margin-bottom: 1em;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(60, 116, 113, 0.5);
        color: #ffff;
        padding: 10px;
        overflow-y: scroll;
        display: none;
        z-index: 999;
        p {
            text-indent: 20px;
            text-align: left;
        }
    }
    h3 {
        text-align: center;
        font-size: 20px;
        font-weight: light;
        font-family: "Roboto Slab", serif;
        padding: 0.2em;
        color: #ffff;
    }
    .thumbnail {
        padding: 0;
    }
}

#youtube-icon {
    font-size: 30px;
    margin-left: 8px;
}
// Ensures that only speaker cards with YouTube links are highlighted
div>div.Speakers__youtube:hover {
    background-color: rgba(60, 116, 113, 0.9);
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(60, 116, 113, 0.5), 0 6px 20px 0 rgba(60, 116, 113, 1);
}
h2 {
    font-family: 'Roboto Slab', serif;
}

#wiki-icon {
    font-size: 30px;
    margin-left: 70%;
}