.Navigation {
  $nav-height: 10vh;
  height: $nav-height;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;

  .navbar {
    background-color: #252f3a;
    position: relative;

    .navbar-header {
        min-height: $nav-height;
    }

    .nav > li > a {
        color: #ffff;
        font-size: 19px;
        font-family: 'Roboto Slab', serif;
        line-height: $nav-height;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: bold;
        opacity: 1;
    }
    .nav > li > a:hover {
      color: #c9e88f;
      text-shadow: 5px #c9e88f;
      text-decoration: none;
    }
  }

  &__logo {
      width: 55px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
}

@media (max-width: 750px) {
  .navbar {
    position: sticky;
  }
  .Navigation__logo {
      width: 40px;
      position: relative;
      top: 13px;
  }
  .Navigation {
    .navbar {
        .nav > li > a {
          font-size: 1em;
      }
    }
  }
}
