.Form {

  .form_container {
    width: 80%;
    margin: 10vh auto;
    background-color: #fff;
    filter: drop-shadow(10px 5px 5px black);
    border-radius: 5vh;
  }

  .form_content {
    margin: 20vh;

  }
}
