// Constants
// Holds all the colors and dimensions used on the website
// Use semantic names, representing what a variable will be used for, instead of the color

// Colors

$transparent: rgba(0, 0, 0, 0);
$inactive: rgb(37, 37, 37);
$active: #31be65;

$pageBackground: #28323f;
$cardBackground: #ffffff;
$translucentBackground: rgba(255, 255, 255, 0.1);
$countdownBackground: rgba(10, 10, 10, 0.514);

$primary: white;
$secondary: yellowgreen;

$accentForeground: blue;
$linkForeground: blue;
$finePrintForeground: grey;

$yellowGreenAccent: #cadea5;
$yellowGreenAccentHover: #c9e88f;

// Dimensions

$navigationBarHeight: 10vh;