@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300');
@import 'constants';

body {
  min-width: 200px;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: $pageBackground;
  background-image: url('../assets/svg/home_background.svg');
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-position: unset; 
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 1.2em;
}

button {
  outline: none;
}