@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

$bg: #0c202b;

body {
  min-width: 200px;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #28323f;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 1.2em;
}

button {
  outline: none;
}

.overlayed {
  background-image: url('../assets/svg/home_background.svg');
}
