.bordered {
    width: 12vh;
    height: 12vh;
    padding: 2vh;
    border: 0.7vh outset yellowgreen;
    border-radius: 50%;
    margin: 1vh;
    background-color: transparent;
    font-size: 1.2em;
}