.countdown {
    display: flex;
    flex-direction: column;
}

.countdown div {
    display: inline-block !important;
}

.bordered {
    display: inline-block;
    background-color: rgba(10, 10, 10, 0.432);
    margin: 1.25vh;
    padding: 2vh 4vh;
    margin-bottom: 1vh;
}

.time-square {
    display: inline-block;
}

li#time-labels {
    display: inline-block;
}

li {
    list-style-type: none!important;
}

#seconds {
    color:#ff0040;
}

#time-label {
    font-size: 3.2vh;
    margin: 3%;
    display: inline-block;
}

// The actual numbers
.bordered div {
    font-size: 8vh;
    margin: 0 auto;
    display: inline-block;
    vertical-align: auto;
}

/*
@media (max-width: 1366px) {
    .bordered {
        width: 10vh;
        height: 10vh;
        font-size: 1.5vh;
        padding: 1.5vh;
    }
}

@media (max-width: 720px) {
    .bordered {
        font-size: 1.8vh;
        padding: 1.3vh;
    }
}

@media (max-width: 480px) {
    .bordered {
        font-size: 1vh;
        padding: 0.7vh;
    }
}*/