.bordered {
    width: 5em;
    height: 5em;
    padding: 1vh;
    border: 0.7vh outset yellowgreen;
    border-radius: 50%;
    margin: 1vh;
    background-color: transparent;
    font-size: 1.2em;
}
@media (max-width: 480px) {
    .bordered {
        font-size: 0.9em;
    }
}