.Schedule {
    font-size: 16px;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #275354;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw 10vh 5vw;
    background-color: rgba(255, 255, 255, 0.1);
}

.header {
    max-width: 50%;
    margin-top: 20vh;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: auto;
}

.header h1 {
    font-size: 4em;
    text-align: center;
    padding: 5vh 5vw;
    color: white;
}

.content-container {
    margin: auto;
    padding: 8vh 4vw;
    padding-top: 4vh;
    background-color: rgb(255, 255, 255);
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

.col ul {
    margin: 3vh;
    display: flex;
    flex-direction: column;
}

.col li {
    width: 35vw;
    border-bottom: 0.01px solid green;
    padding: 1.2vh;
    color: blue;
}

.col small {
    float: left;
    color: grey;
    font-weight: lighter;
    font-size: 0.9em;
    width: 10vw;
}

.col span {
    float: right;
    text-align: right;
    color: red;
}

.col h4 {
    margin-bottom: 2vh;
}

div.switch-container {
    margin: auto;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 24vw;
    height: 6vh;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: greenyellow;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 6vh;
    width: 6vh;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24vw);
    -ms-transform: translateX(24vw);
    transform: translateX(24vw);
}

/* Toggle switch label */

.label {
    display: inline-block;
    margin: auto;
    font-size: 1.3em;
    transform: translateY(1vh);
    color: black;
}

/* Rounded sliders */

.slider.round {
    border-radius: 6vh;
    color: black;
}

.slider.round:before {
    border-radius: 50%;
    border: 0.1vh solid rgb(190, 226, 255);
}

@media(max-width: 1024px) {
    .header h1 {
        font-size: 2em;
        text-align: center;
        margin: auto;
        padding: 0;
        padding-bottom: 5vh;
    }
    .switch {
        width: 80vw;
        height: 6vh;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(75vw);
        -ms-transform: translateX(75vw);
        transform: translateX(75vw);
    }
    .label {
        font-size: 0.8em;
        transform: translateY(0vh);
    }
    .col {
        flex-direction: row;
        font-size: 0.75em;
        width: 75vw;
    }
    .col small {
        margin-right: 4vw;
    }
    .col li {
        width: 75vw;
    }
}
@media (max-width: 640px) {
    .switch {
        width: 80vw;
        height: 6vh;
    }
    .label {
        font-size: 0.8em;
        transform: translateY(0.8vh);
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(72vw);
        -ms-transform: translateX(72vw);
        transform: translateX(72vw);
    }
}