@import '../../../styles/constants';

.Schedule {
    font-size: 16px;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 7vh 5vw;
}

.Schedule .header {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    max-width: inherit!important;
    text-align: center;
    padding: 5vh;
    margin: 0;
}

.header h1 {
    font-size: 4em;
    color: $primary;
}

.content-container {
    margin: auto;
    padding: 3vh 3vw 6vh;
    background-color: $cardBackground;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

.col ul {
    margin: 3vh;
    display: flex;
    flex-direction: column;
}

.col li {
    width: 35vw;
    padding: 1.2vh;
}

.col small {
    float: left;
    color: $finePrintForeground;
    font-weight: lighter;
    font-size: 0.9em;
    width: 10vw;
}

.col span {
    float: right;
    text-align: right;
    font-weight: normal;
    color: black;
}

.col h3 {
    font-size: 5vh;
    color: $accentForeground;
    text-align: center;
    margin-bottom: 2vh;
}

.tab-container {
    margin: 3vh;
    padding: 0;
    display: flex;
    justify-content: center;
}

.tab {
    text-align: center;
    padding: 2vh;
    background-color: $inactive;
    opacity: 0.8;
    color: $primary;
}
.tab:hover {
    filter: contrast(1.3);
    opacity: 1;
}

.active {
    background-color: $active;
    opacity: 1;
    filter: contrast(1.1);
}
@media(max-width: 1366px) {
    .header h1 {
        font-size: 3em;
    }
    .tab {
        font-size: 3vh;
    }
    .col {
        flex-direction: row;
        width: 75vw;
    }
    .col small {
        margin-right: 3vw;
    }
    .col li {
        width: 75vw;
    }
}
@media (max-width: 640px) {
    .col {
        font-size: 0.9em;
    }
    .content-container {
        padding: 0;
        margin: 0;
    }
}
