#Photos {
    #Photos_items {
        max-width: calc(12.5vh + 12vw);
    }

  }
@media (max-width: 1050px) {
    #Photos {
        #Photos_items {
            max-width: 40vw;
        }
    }
}

@media (max-width: 440px) {
    #Photos {
        #Photos_items {
            max-width: 90vw;
        }
    }
}
