.Start {
    margin-top: 10vh;
    height: 100vh; 
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;

    .jumbotron {
        margin-top:-12vh;
        background-color: inherit;
        color: white;
        text-align: center;
        font-family: inherit;
    }

    .caps {
        margin: 25px;
    }

    .counter {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        flex-direction: row;
    }

    .header {
        max-width: 50%;
    }
    
    .btn {
        border: none;
        margin: 10px;
    }

    .btn button{
        background: none;
        height: 50px;
        width: 150px;
        font-size: 1.2em;
        font-weight: bold;
        background-color: #3bc71c;
        color:black;
        text-align: center;
        position: relative;
    }
    
    .btn button:hover {
        border-color: #69c755;
    } 

    .btn button:hover #tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 400px) {
        .header {
            max-width: 90%;
        } 
        .Start {
            font-size: 0.8em;
        } 
        .btn button{
            font-size: 0.8em;
            width: 100px;
        }  
    }
}

#tooltiptext {
    visibility: hidden;
    width: auto;
    color: #cadea5;
    text-align: center;
    position: absolute;
    padding: 0.5em 1em 0.5em 1em;
    z-index: 1;
    bottom: 10%;
    left: 106%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-radius: 0;
    background-color: rgba(35, 44, 56, 0.85);
}
  
#tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#arrow-left {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 10px solid transparent; 
    border-right:10px solid rgba(79, 247, 238, 0.6)
}

.intro {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
  





