#Start {
    margin-top: 10vh;
    height: 70vh;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;

    .jumbotron {
        background-color: inherit;
        color: white;
        text-align: center;
        font-family: inherit;
    }
}

.caps {
    margin: 25px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: row;
}

.header {
    max-width: 500px;
}

.btn {
    border: none;
    margin: 10px;
}

.btn button{
    background-color: rgb(21, 31, 40);
    height: 50px;
    padding: 10px;
    font-size: 18px;
    color: #3c7471;
    border-color: #3c7471;
    width: 200px;
}

.btn button:hover {
    border-color: #97c88c;
}


