@import '../../../styles/constants';

.Start {
    margin-top: 4vh;
    height: 135vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;

    .jumbotron {
        padding-top: 0;
        background-color: inherit;
        color: $primary;
        text-align: center;
        font-family: inherit;
    }

    .caps {
        margin: 25px;
        font-size: 1.5em;
    }

    #countdown {
        font-size: 1.5em;
    }

    .header {
        max-width: 50%;
    }

    .title_sponsor {
        margin-top: 5vh;
        text-align: center;
        font-style: italic;
        height: 25vh;
        img {
            margin: 1vh;
            height: 20vh;
        }
    }

    .btn {
        border: none;
        margin: 10px;
    }

    .btn button {
        background: none;
        height: 50px;
        width: 150px;
        font-size: 1.2em;
        font-weight: bold;
        color: $yellowGreenAccent;
        border: 3px solid $yellowGreenAccent;
        text-align: center;
        position: relative;
        background-color: $pageBackground;
    }
    .btn button:hover {
        border-color: #97c88c;
    }
    .btn button:hover #tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    @media (max-width: 1024px) {
        .header {
            max-width: 85%;
        }
        .btn button {
            font-size: 1.3em;
            width: 200px;
        }
        #countdown,
        .caps,
        .intro {
            font-size: 2em;
        }
    }
    @media (max-width: 420px) {
        .header {
            max-width: 90%;
        }
        .btn button {
            font-size: 0.8em;
            width: 100px;
            height: 40px;
        }
        #countdown,
        .caps,
        .intro {
            font-size: 1.2em;
        }
    }
    @media (max-width: 320px) {
        .header {
            max-width: 90%;
        }
        .btn button {
            font-size: 0.8em;
            width: 100px;
            height: 40px;
        }
        #countdown,
        .caps,
        .intro {
            font-size: 1.0em;
        }
    }
    @media (max-height: 700px) {
        height: 150vh;
    }
    @media (max-height: 500px) {
        height: 170vh;
    }
    @media (max-width: 300px) and (min-height: 700px) {
        height: 170vh;
        #countdown,
        .caps,
        .intro {
            font-size: 1em;
        }
    }
}

.intro {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: $primary;
    margin: 0.6vh;
}
