.Start {
    margin-top: 0vh;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;


    .jumbotron {
        height: inherit;
        background-color: inherit;
        color: white;
        text-align: center;
        font-family: inherit;
    }

    .caps {
        margin: 25px;
        font-size: 1.5em;
    }

    #countdown {
        font-size: 1.5em;
    }

    .header {
      margin-top: 10vh;
        max-width: 50%;
    }

    .btn {
        border: none;
        margin: 10px;
    }

    .btn button{
        background: none;
        height: 50px;
        width: 150px;
        font-size: 1.2em;
        font-weight: bold;
        color: #cadea5;
        border: 3px solid #cadea5;
        text-align: center;
        position: relative;
        background-color:rgb(42, 50, 62);
    }

    .btn button:hover {
        border-color: #97c88c;
    }

    .btn button:hover #tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    #carousel_container {
      margin-top: -5vh;
      height: inherit;
      overflow: hidden;
      position: absolute;
      z-index: -99;
      #images_container{
        #carousel_image {

          filter: grayscale(80%);
          opacity: 0.5;
        }
      }
    }



    @media (max-width: 1024px) {
        .header {
            max-width: 85%;
        }
        .btn button{
            font-size: 1.3em;
            width: 200px;
        }
        #countdown, .intro, .caps {
            font-size: 2em;
        }
    }

    @media (max-width: 420px) {
        .header {
            max-width: 90%;
        }
        .btn button{
            font-size: 0.8em;
            width: 100px;
            height: 40px;
        }
        #countdown, .intro, .caps {
            font-size: 1.2em;
        }
    }

    @media (max-width: 320px) {
        .header {
            max-width: 90%;
        }
        .btn button{
            font-size: 0.8em;
            width: 100px;
            height: 40px;
        }
        #countdown, .intro, .caps {
            font-size: 1.0em;
        }
    }



}


#tooltiptext {
    visibility: hidden;
    width: auto;
    color: #cadea5;
    text-align: center;
    position: absolute;
    padding: 0.5em 1em 0.5em 1em;
    z-index: 1;
    bottom: 10%;
    left: 106%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-radius: 0;
    background-color: rgba(35, 44, 56, 0.85);
}

#tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#arrow-left {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right:10px solid rgba(79, 247, 238, 0.6)
}

.intro {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color:#fff;
    margin: 25px;
}
