@import url('https://fonts.googleapis.com/css?family=Roboto');

.Registration {
    * {
        border: none;
    }

    .caps {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: 'Roboto', sans-serif;
    }
}
