@import url('https://fonts.googleapis.com/css?family=Roboto');

.body {
          background-image: none!important;
}

.Registration {
    * {
        background-image: none!important;
        border: none;
    }

    .caps {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: 'Roboto', sans-serif;
        margin: 25px;
        font-size: 2vh;
    }

    .jumbotron {
        margin-top: 8vh;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: bold;
        background-color: inherit;
        color: white;
        text-align: center;

    }

    .header {
      max-width: 60%;
    }

}

@media (max-height : 780px) {
  .header {
    max-width: 80%;
  }
  .caps {
      letter-spacing: 0.5px;
      margin: 25px;
      font-size: 1em;
  }
}
