@import '../../../../styles/constants';

.QuestionList {
    margin-top: -5vh;
    height: 100vh;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    font-weight: bold;

    .jumbotron {
        background-color: inherit;
        color: $primary;
        text-align: center;
        font-family: inherit;
    }

    .caps {
        margin: 25px;
        font-size: 1.5em;
    }

    #countdown {
        font-size: 1.5em;
    }

    .header {
        max-width: 50%;
    }

    @media (max-width: 420px) {
        .header {
            max-width: 90%;
        }
        #countdown, .intro, .caps {
            font-size: 1.2em;
        }
    }

    @media (max-width: 320px) {
        .header {
            max-width: 90%;
        }
        #countdown, .intro, .caps {
            font-size: 1.0em;
        }
    }
}

.faq-heading {
    margin: 2.5vh 0vh;
}

.faq-columns::after {
    display: none;
}

.column li {
    flex-wrap: wrap;
    min-width: 10vw;
    max-width: 25vw;
    margin-left: 2vw;
}

.question, .answer {
    display: inline-block;
}

.question {
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    color: black;
    font-weight: 700;
    font-size:1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.answer {
    font-size:1.2em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.answer li {
    list-style-type: unset!important;
}

@media (max-width: 1024px) {
    .header {
        max-width: 85%;
    }
    .answer li {
        margin-left: 5vw;
    }
    .column li {
        min-width: inherit;
        max-width: inherit;
    }
    #countdown, .intro, .caps {
        font-size: 2em;
    }
}