.Navigation {
  $nav-height: 10vh;
  height: $nav-height;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;

  .navbar {
    background-color: #232b35;
  
    .navbar-header {
        min-height: $nav-height;
    }

    .nav > li > a {
        color: #ffff;
        font-size: 19px;
        font-family: 'Roboto Slab', serif;
        line-height: $nav-height;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav > li > a :hover {
      color: #cadea5;
    }
  }

  &__logo {
      width: 50px;
  }
}

@media (max-width: 400px) {
  .Navigation__logo {
      width: 40px;
  }
  .Navigation {
    .navbar {
        .nav > li > a {
          font-size: 1em;
      }
    }
  }
}
