.Navigation {
  $nav-height: 10vh;
  height: $nav-height;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;

  .navbar {
    background-color: #252f3a;
  
    .navbar-header {
        min-height: $nav-height;
    }

    .nav > li > a {
        color: #ffff;
        font-size: 19px;
        font-family: 'Roboto Slab', serif;
        line-height: $nav-height;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: bold;
    }
    .nav > li > a:hover {
      color: #c9e88f;
      text-shadow: 5px #c9e88f;
      text-decoration: none;
    }
  }

  &__logo {
      width: 55px;
      
      -webkit-animation:spin  8.5s linear infinite;
      -moz-animation:spin  8.5s linear infinite;
      animation:spin  8.5s linear infinite;
  }
}

@media (max-width: 400px) {
  .Navigation__logo {
      width: 40px;
  }
  .Navigation {
    .navbar {
        .nav > li > a {
          font-size: 1em;
      }
    }
  }
}

@-moz-keyframes spin { 
  100% { 
    -moz-transform: rotate(360deg); 
  } 
}
@-webkit-keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
  } 
}
@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}
