.Navigation {
    $nav-height: 10vh;
    height: $nav-height;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
    .header {
        height: 7vh;
        display: inline-block !important;
        transform: translateX(4.5vw);
    }
    div.logo-container {
        display: flex;
        flex-direction: column;
    }
    .navbar-header {
        display: flex;
    }
    .navbar-brand {
        width: 100%;
    }
    .navbar-brand a {
        display: inline;
        width: 75%;
    }
    .navbar-toggle {
        margin: 0 !important;
        transform: translateY(-120%);
    }
    .navbar {
        background-color: #252f3a;
        position: relative;
        .navbar-header {
            min-height: $nav-height;
        }
        .nav>li>a {
            color: #ffff;
            font-size: 1em;
            font-family: 'Roboto Slab', serif;
            line-height: $nav-height;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding-top: 0;
            padding-bottom: 0;
            font-weight: bold;
            opacity: 1;
        }
        .nav>li>a:hover {
            color: #c9e88f;
            text-shadow: 5px #c9e88f;
            text-decoration: none;
        }
    }
    &__logo {
        width: 7.5vh !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) !important;
    }
}

@media(min-width: 768px) and (max-width:1024px) {
    .navbar {
        position: sticky;
        .nav>li>a {
            color: #ffff;
            font-size: 1em !important;
        }
    }
    .header {
        width: 4.5vh;
    }
}

@media (min-width: 1024px) and (max-width:1366px) {
    .navbar {
        position: sticky;
        .nav>li>a {
            color: #ffff;
            font-size: 1.4em !important;
        }
    }
    .Navigation__logo {
        transform: translateY(-50%) !important;
    }
}

@media (max-width: 750px) {
    $nav-height: 13vh;
    .navbar {
        height: $nav-height;
        position: sticky;
        .nav>li>a {
            color: #ffff;
            font-size: 1em;
        }
    }
    .Navigation__logo {
        position: relative;
        top: 13px !important; // transform: translateY(-25%) !important;
    }
    .Navigation {
        .navbar {
            .nav>li>a {
                font-size: 1em;
            }
        }
    }
}

@media (max-width: 600px) {
    .Navigation__logo {
        transform: translateY(-25%) !important;
    }
    div.container {
        max-height: 50% !important;
    }
}

@media (max-width: 420px) {
    .header {
        max-width: 50%;
    }
}

@media (max-width: 350px) {
    .Navigation__logo {
        transform: translateY(-16.67%) !important;
    }
}