@import '../../../styles/constants';

.Navigation {
    height: $navigationBarHeight;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;

    .navbar {
        filter: drop-shadow(0px 2px 5px black);
        background-color: $pageBackground;
        position: relative;

        .navbar-header {
            min-height: $navigationBarHeight;
        }

        .nav {
            font-size: 1.5em;
            font-family: 'Roboto Slab', serif;
            line-height: $navigationBarHeight;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding-top: 0;
            padding-bottom: 0;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            margin: 0;
        }
        a {
            color: $primary;
            opacity: 1;
            text-decoration: none;
            flex-direction: row;
            margin: 0 0.5vw;
        }
    
        .events a {
            color: white !important;
        }
        .events a:hover {
            color: $active !important;
        }
        
        @media(min-width: 1024px) and (max-width: 1366px) {
            .Navigation .navbar a.navBarLink li.dropdown[namespaceURI="http://www.w3.org/1999/xhtml"], .Navigation .navbar a.navBarLink li.presentation[namespaceURI="http://www.w3.org/1999/xhtml"],  {
                padding-left: 2.5vw!important;
                display: block !important; 
            }
            .Navigation__logo {
                margin-left: -2.5vw;
            }
            .navbar .nav {
                display: flex!important;
                flex-direction: column!important;
            }
        }

        @media (max-width: 1023px) {
            .nav a {
                margin: 0;
                padding: 0;
            }
            a.navBarLink li {
                display: block!important;
            }
            .nav {
                display: flex!important;
                flex-direction: column!important;
            }
        }
    }   

    &__logo {
        width: 7.5vh !important;
        position: absolute;
        transform: translateY(-7.5%) !important;
    }

    .navbar-toggle {
        margin: calc(1.8vw + 1.8vh) calc(1.8vw + 1.8vh) 0 0;
    }
}

.Navigation .navbar a.navBarLink li.dropdown, .Navigation .navbar a.navBarLink li.presentation {
    display: inline-block!important;
}

.navbar li:hover a {
    background-color: unset!important;
    color: $active;
    text-shadow: 5px $active;
    text-decoration: none;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
}

.dropdown-menu {
    background-color: #252f3a;
}

.dropdown-menu > li > a {
    color: #ffff;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    letter-spacing: 0.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    opacity: 1;
}

.caret {
    border-top: 4px dashed !important;
    border-top: 4px solid\9 !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
}
@media (min-width: 1024px) and (max-width:1366px) {
    .navbar {
        .nav > li > a {
            font-size: 1.4em!important;
        }
    }
}
@media(min-width: 768px) and (max-width:1024px) {
    .navbar {
        .nav > li > a {
            font-size: 1em !important;
        }
    }
}
@media (max-width: 750px) {
    .navbar {
        .nav > li > a {
            font-size: 1em;
        }
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffff;
    }
    .Navigation__logo {
        position: relative;
    }
    .Navigation {
        .navbar {
            .nav > li > a {
                font-size: 1em;
            }
        }
    }
}
