@import '../../../styles/constants';

.Navigation {
    height: $navigationBarHeight;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;

    .navbar {
        filter: drop-shadow(0px 2px 5px black);
        background-color: $pageBackground;
        position: relative;

        .navbar-header {
            min-height: $navigationBarHeight;
        }

        .nav>li>a {
            color: $primary;
            font-size: 1.5em;
            font-family: 'Roboto Slab', serif;
            line-height: $navigationBarHeight;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding-top: 0;
            padding-bottom: 0;
            font-weight: bold;
            opacity: 1;
        }
        .nav>li>a:hover {
            color: $active;
            text-shadow: 5px $active;
            text-decoration: none;
        }
    }

    &__logo {
        width: 7.5vh !important;
        position: absolute;
        transform: translateY(-7.5%) !important;
    }
    
    .navbar-toggle {
        margin: calc(1.8vw + 1.8vh) calc(1.8vw + 1.8vh) 0 0;
    }
}

@media(min-width: 768px) and (max-width:1024px) {
    .navbar {
        .nav>li>a {
            font-size: 1em !important;
        }
    }
}

@media (min-width: 1024px) and (max-width:1366px) {
    .navbar {
        .nav>li>a {
            font-size: 1.4em!important;
        }
    }
}

@media (max-width: 750px) {
    .navbar {
        .nav>li>a {
            font-size: 1em;
        }
    }
    .Navigation__logo {
        position: relative;
    }
    .Navigation {
        .navbar {
            .nav>li>a {
                font-size: 1em;
            }
        }
    }
}