#About {
    font-size: 16px;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #275354;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw 10vh 5vw;
    background-color: rgba(255, 255, 255, 0.3);
}

.about-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-grid .col{
    margin: 1em;
}

.ReactFlipCard {
    min-height: 40vh;
}

.ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    width: 25vw;
    outline: none;
  }
.ReactFlipCard__Front {
    min-height: 14vh;
}

.ReactFlipCard__Front,
  .ReactFlipCard__Back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    vertical-align: middle;
    height: inherit;
}

.ReactFlipCard__Front {
    //background: linear-gradient(to bottom right, #d1e5ac, #56b7b7);
    background-color: rgba(60, 116, 113, 0.1);
    padding: 30px;
    text-align: center;
    color: #cadea5;
    border: 3px solid #cadea5;
}

.ReactFlipCard__Back {
    background: linear-gradient(to bottom right, #56b7b7, #d1e5ac);
    padding: 30px;
    text-align: left;
    font-weight: 100;
    opacity: 1;
    border: none;
}

.descrip {
    font-size: 20px;
}

@media (max-width: 440px) {
    .about-grid {
      display: block;
      .col {
        width: 100%;
      }
    }

    .ReactFlipCard,
    .ReactFlipCard__Front,
    .ReactFlipCard__Back {
        width: 80vw;
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .ReactFlipCard,
    .ReactFlipCard__Back {
        min-height: 50vh;
    }
}
