#About {
    font-size: 16px;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #275354;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vw 10vh 5vw;
    background-color: rgba(255, 255, 255, 0.17);
}

.about-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-grid .col{
    margin: 1em;
}

.ReactFlipCard {
    position: relative;
}

.ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    width: 25vw;
    outline: none;
    height: 315px;
    vertical-align: middle;
  }

.ReactFlipCard__Front,
  .ReactFlipCard__Back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    color: #cadea5;
}

.ReactFlipCard__Front {
    background-color: rgba(60, 116, 113, 0.1);
    padding: 0px;
    text-align: center;
    color: #cadea5;
    border: 4px solid #cadea5;
    font-weight: bold;
}

.ReactFlipCard__Back {
    background-color:rgba(42, 50, 62, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-weight: 100;
    border: none;
    opacity: 2;
    margin-bottom: 10px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.descrip {
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    height: inherit;
    width: inherit;
    margin: 0 auto;
    padding-top: 0px;
}

@media (max-width: 1240px) {
    .about-grid {
        display: block;
        .col {
            width: 100%;
        }
    }

    .ReactFlipCard,
    .ReactFlipCard__Back {
        width: 85vw;
        margin: 0 auto;
        height: 190px;
        margin-bottom: 10px;
    }
    
    .ReactFlipCard__Front{
        width: 85vw;
        margin: 0 auto;
        height: 190px;
    }
}

@media (max-width: 440px) {
    .about-grid {
        display: block;
        .col {
          width: 100%;
        }
      }
  
      .ReactFlipCard,
      .ReactFlipCard__Back {
          width: 85vw;
          margin: 0 auto;
          margin-bottom: 1em;
          height: 280px;
      }
  
      .ReactFlipCard__Front{
          height: 280px;
      }
  
      .descrip {
          font-size: 18px;
      }
}

@media (max-width: 440px) {
    .about-grid {
        display: block;
        .col {
          width: 100%;
        }
      }
  
      .ReactFlipCard,
      .ReactFlipCard__Back {
          width: 85vw;
          margin: 0 auto;
          margin-bottom: 1em;
          height: 280px;
      }
  
      .ReactFlipCard__Front{
          height: 280px;
      }
  
      .descrip {
          font-size: 18px;
      }
}

@media (max-width: 320px) {
    .about-grid {
        display: block;
        .col {
          width: 100%;
        }
      }
  
      .ReactFlipCard,
      .ReactFlipCard__Back {
          width: 85vw;
          margin: 0 auto;
          margin-bottom: 1em;
          height: 320px;
      }
  
      .ReactFlipCard__Front{
          height: 320px;
      }
  
      .descrip {
          font-size: 18px;
      }
}

