.Sponsors {
    padding: 10vh 5vw 10vh 5vw;
    background-color: rgba(225, 225, 225, 0.1);

    &__back {
        border-radius: 5vh;
        background: white;
    }

    &__card {
        text-align: center;
        position: relative;
        min-height: 150px;
        background: none;
        border: none;

        img {
            font-family: inherit;
            font-size: 5vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            padding: 7px;
        }
    }

    &__card--tier1 {
        min-height: 500px;
    }

    &__card--tier2 {
        margin: auto;
        min-height: 350px;

    }

    &__card--tier3 {
        min-height: 350px;
    }

    &__card--tier4 {
        min-height: 200px;
    }

    &__gridRow {
        text-align: center;
    }

    &__centeredCard {
        margin: auto 0;
    }

    &__centerContent {
        text-align: center;
        align-content: center;
        margin: auto 0;
    }

    &__header {
        color: white;
        text-align: center;
        border: none;
    }
}
h1
{
    font-family:'Roboto Slab', serif;
}
.panel {
    box-shadow: unset!important;
    -webkit-box-shadow: unset!important;
    -moz-box-shadow: unset!important;
}

@media (max-height: 750px) {
    .Sponsors__back {
      border-radius: 0;
      background: white;
    }
    &__card--tier1 {
        background: red;
        height: 400px!important;
    }

    &__card--tier2 {
        min-height: 150px!important;
    }

    &__card--tier3 {
        min-height: 100px!important;
    }

    &__card--tier4 {
        min-height: 50px!important;
    }
}
