@import '../../../styles/constants';

.Sponsors {
    padding: 10vh 5vw;

    // The following property is essential to image alignment
    // It ensures that the sponsor grid and Speaker_back align together.
    .container {
        width: unset;
        padding: 10vh 6vw;
    }

    &__back {
        background: $cardBackground;
        overflow: hidden;
    }

    &__card {
        text-align: center;
        position: relative;
        min-height: 150px;
        background: none;
        border: none;

        img {
            font-family: inherit;
            font-size: 5vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            padding: 1.75vh;
        }
    }

    &__card--tier1 {
        min-height: 45vh;
    }

    &__card--tier2 {
        margin: auto;
        min-height: 40vh;
    }

    &__card--tier3 {
        margin: -3vh auto;
        min-height: 28vh;
    }

    &__card--tier4 {
        min-height: 12vh;
    }

    &__gridRow {
        text-align: center;
    }

    &__centeredCard {
        margin: auto 0;
    }

    &__centerContent {
        text-align: center;
        align-content: center;
        margin: auto 0;
    }

    &__header {
        color: $primary;
        text-align: center;
        border: none;
    }
}
h1
{
    font-family:'Roboto Slab', serif;
}
.panel {
    box-shadow: unset!important;
    -webkit-box-shadow: unset!important;
    -moz-box-shadow: unset!important;
}

.tier1 {
    margin-bottom: 10vh;
}

.tier2 {
    margin-bottom: 10vh;
}

.tier3 {
    margin-bottom: 10vh;
}

.panel-default {
    height: 25%!important;
    margin: 0;
    padding: 0;
}

@media (max-width: 620px) and (min-height: 760px){
    .Sponsors {
        &__card--tier1  {
          margin: -20vh auto;
        }
        &__card--tier2 {
            margin: -15vh auto;
        }
        &__card--tier3 {
            margin: -7vh -2.5vh;
        }
        &__card--tier4 {
            margin: auto -2vh;
        }
    }
    .tier1 {
        margin-bottom: 10vh;
    }
    .tier2 {
        margin-bottom: 5vh;
    }
    .tier3 {
        margin-bottom: 5vh;
    }
}

@media (max-width: 400px) {
    .Sponsors {
        &__card--tier1 {
            margin: -20vh auto;
            margin-bottom: -40vh;
        }
        &__card--tier2 {
            margin-bottom: -15vh;
        }
        &__card--tier3 {
            min-height: 15vh;
            margin: -1vh -3vh;
        }
        &__card--tier4 {
            margin: -0.5vh -3vh;
        }
    }
}

@media (max-height: 500px) {
    .Sponsors {
        &__card--tier4 {
            min-width: 10vh;
            margin: auto -2vh;
        }
    }
}
